# Evitar subir el script externo que no es tuyo
md2epub.py

# Archivos temporales de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de entorno virtual
.env/
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs y temporales
*.log
*.tmp

# Copias de seguridad
*~
*.bak
*.swp

# Si usás Jupyter
.ipynb_checkpoints/
